.AccountOverview {
  padding: 40px;
  text-align: left;
  background-color: #F4F4F4;
  width: 50%;
  margin: auto;
}

.info-icon {
  float: right;
}

.contact-phone {
  display: flex;
  padding-left: 15px;
  margin-bottom: 5px;
  align-items: flex-end;
  font-size: 14px;
  color: #333333;
}

